/* General styles to be set for all webpages */

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background: black;
    color: #333;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

header {
    background: linear-gradient(135deg, #607D8B, #78909C);
    color: white;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 0;
    font-size: 3.5em;
    font-weight: 700;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 20px 0 0 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    transition: transform 0.2s;
}

nav ul li a:hover {
    text-decoration: underline;
    transform: scale(1.1);
}

main {
    padding: 40px 0;
}

main > div {
    margin-bottom: 20px;
}

main > div p {
    font-size: 1.2em;
    margin: 10px 0;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer p {
    margin: 0;
}

/* Hide mobile links by default */
.mobile.links {
    display: none;
}

/* Show desktop links by default */
.desktop.links {
    display: block;
}

@media (max-width: 768px) {
    /* Hide desktop links on small screens */
    .desktop.links {
        display: none;
    }

    /* Show mobile links on small screens */
    .mobile.links {
        display: block;
    }
    
    header h1 {
        font-size: 2em;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }

    main {
        padding: 20px 10px;
    }
}