/* Specific styles for the login/register page */

.form-container {
    background: linear-gradient(135deg, #0097b2, #7ed957);
    padding: 3%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-top: 50px;
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10%;
}

.form-toggle {
    display: flex;
    justify-content: space-around;
    margin-top: 10%;
}

.form-toggle button {
    background: none;
    border: none;
    font-size: 1.2em;
    cursor: pointer;
    padding: 10px 20px;
}

.form-toggle button.active {
    border-bottom: 2px solid #004aad;
    color: #004aad;
}

.form-content {
    display: none;
}

.form-content h2 {
    font-size: 1.5em;
    font-weight: bold;
    letter-spacing: 0.03em;
    color: whitesmoke;
    margin-top: 8%;
    margin-bottom: 0%;
}

.form-content h3 {
    font-size: 1em;
    font-weight: 100;
    color: whitesmoke;
    margin-top: 0%;
    margin-bottom: 5%;
}

.form-content p {
    text-align: center;
    font-size: 1em;
    font-weight: 300;
    cursor: pointer;
    margin: 8%;
}

a, u {
    color:#0f5fc9;
}

.form-content label {
    display: block;
    margin-top: 10px;
}

.form-content input {
    width: 95%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn {
    display: block;
    background-color: #004aad;
    color: white;
    padding: 2% 10%;
    border: none;
    border-radius: 25px;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    margin: auto;
    margin-top: 20px;
    transition: background-color 0.3s ease, transform 0.2s;
}

.btn:hover {
    transform: scale(1.05);
}

.message {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
}

.message.positive {
    color: black;
}

.message.negative {
    color: red;
}