<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- TAB TITLE -->
    <title>Dashboard - <%= app_name %></title>
    <!-- LINK TO STYLESHEETS / GOOGLE FONTS -->
    <link rel="stylesheet" href="/styles/common.css">
    <link rel="stylesheet" href="/styles/income.css">
    <link rel="stylesheet" href="/styles/icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins" rel="stylesheet">
</head>

<body>
    <dialog
        id="add-income-dialog"
        onclick="onClickAddIncomeDialog(this, event)"
        onkeydown="onKeyDownAddIncomeDialog(this, event)"
    >
        <div class="flex-row dialog-row-close">
            <span class="icon" onclick="onClickAddIncomeDialogCloseButton()">close</span>
        </div>
        <form class="flex-row dialog-row-form" method="POST" action="/user/api/add-income">
            <div class="flex-row">
                <label for="add-income-dialog-source">Source</label>
                <input id="add-income-dialog-source" name="source">
            </div>
            <div class="flex-row">
                <label for="add-income-dialog-category">Category</label>
                <select id="add-income-dialog-category" name="category">
                </select>
            </div>
            <div class="flex-row">
                <label for="add-income-dialog-amount">Amount</label>
                <input id="add-income-dialog-amount" name="amount">
            </div>
            <div class="flex-row dialog-row-submit">
                <button class="button" type="submit">Submit</button>
            </div>
        </form>
    </dialog>
    <dialog
    id="set-budget-dialog"
    onclick="onClickSetBudgetDialog(this, event)"
    onkeydown="onKeyDownSetBudgetDialog(this, event)"
>
    <div class="flex-row dialog-row-close">
        <span class="icon" onclick="onClickSetBudgetDialogCloseButton()">close</span>
    </div>
    <form class="flex-row dialog-row-form" method="POST" action="/user/api/set-income-budget">
        <div class="flex-row">
            <label for="set-budget-dialog-category">Category</label>
            <select id="set-budget-dialog-category" name="category">
            </select>
        </div>
        <div class="flex-row">
            <label for="set-budget-dialog-amount">Amount</label>
            <input id="set-budget-dialog-amount" name="amount">
        </div>
        <div class="flex-row dialog-row-submit">
            <button class="button" type="submit">Submit</button>
        </div>
    </form>
</dialog>
    <header>
        <div id="welcome">
            <span id="dashboard-header-text">
                My Income
                <select name="sort-key" id="month-year-dropdown" class="dropdown" onchange="onChangeMonthYearDropdown(this)">
                </select>
            </span>
        </div>
        <div id="profile">
            <img id="profile-picture" src="/assets/images/pfp.png" onclick="window.location.href = '/account/profile/'" alt="profile picture">
            <a href="/account/logout">Sign Out</a>
        </div>
    </header>

    <main id="flex">

        <section id="income-categories-chart-section">
            <span class="section-title"></span>
            <canvas id="income-categories-chart" width="1000" height="200"></canvas>
        </section>

        <section id="add-income-section">
            <div class="button" onclick="onClickAddIncomeButton(this, event)">
                <span class="icon">add_circle</span>
                <span>Add Income</span>
            </div>
            <div class="button" onclick="onClickSetBudgetButton(this, event)">
                <span class="icon">savings</span>
                <span>Set budget</span>
            </div>
        </section>

        <section class="flex-row" id="search">
            <input class="icon-input icon-search" id="search-bar" placeholder="Search" onkeydown="onKeyDownSearchBar(this, event)" />
            <div id="search-filters" onclick="onClickSearchBarFilterButton()">
                <span class="icon">tune</span>
            </div>
        </section>

        <section id="recent-transactions">
            <div class="flex-row" style="justify-content: space-between;">
                <span id="section-title">Recent Incomes</span>
                <div id="sort">
                    <span style="color: rgb(100, 100, 100)">Sort by</span>
                    <select name="sort-key" class="dropdown" onchange="onChangeSortDropdown(this)">
                        <option value="latest" selected>Latest</option>
                        <option value="oldest">Oldest</option>
                        <option value="amount-desc">High-Low</option>
                        <option value="amount-asc">Low-High</option>
                    </select>
                </div>
            </div>

            <div class="transaction-list"></div>
        </section>

        <div id="navbar">
            <div class="navbar-button" onclick="document.onNavbarButtonClick(0)">
                <span class="icon">grid_view</span>
                <span>Dashboard</span>
            </div>
            <div class="navbar-button selected" onclick="document.onNavbarButtonClick(1)">
                <span class="icon">payments</span>
                <span>My Income</span>
            </div>
            <div class="navbar-button" onclick="document.onNavbarButtonClick(2)">
                <span class="icon">trending_down</span>
                <span>My Expenses</span>
            </div>
            <div class="navbar-button" onclick="document.onNavbarButtonClick(3)">
                <span class="icon">data_usage</span>
                <span>Summary</span>
            </div>
        </div>
    </main>

    <footer>
        <div class="about container">
            <p>CM2020 Agile Software Projects: <%= app_name %></p>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script type="module">
        import {
            onClickAddIncomeButton,
            onClickAddIncomeDialogCloseButton,
            onClickAddIncomeDialog,
            onKeyDownAddIncomeDialog,
            onClickSetBudgetButton,
            onClickSetBudgetDialogCloseButton,
            onClickSetBudgetDialog,
            onKeyDownSetBudgetDialog,
            onKeyDownSearchBar,
            onClickSearchBarFilterButton,
            onChangeMonthYearDropdown,
            onChangeSortDropdown,
        } from '../scripts/incomePage.js';
        window.onClickAddIncomeButton = onClickAddIncomeButton;
        window.onClickAddIncomeDialogCloseButton = onClickAddIncomeDialogCloseButton;
        window.onClickAddIncomeDialog = onClickAddIncomeDialog;
        window.onKeyDownAddIncomeDialog = onKeyDownAddIncomeDialog;
        window.onClickSetBudgetButton = onClickSetBudgetButton;
        window.onClickSetBudgetDialogCloseButton = onClickSetBudgetDialogCloseButton;
        window.onClickSetBudgetDialog = onClickSetBudgetDialog;
        window.onKeyDownSetBudgetDialog = onKeyDownSetBudgetDialog;
        window.onKeyDownSearchBar = onKeyDownSearchBar;
        window.onClickSearchBarFilterButton = onClickSearchBarFilterButton;
        window.onChangeMonthYearDropdown = onChangeMonthYearDropdown;
        window.onChangeSortDropdown = onChangeSortDropdown;
    </script>
    <script src="/scripts/navbar.js"></script>

</body>
</html>